@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: #020617;
  color: white;
  font-family: Inter, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #38bdf8;
  border-radius: 10px;
}

.glass {
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(255,255,255,0.15);
}

.gradient-text {
  background: linear-gradient(
    to right,
    #38bdf8,
    #8b5cf6
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section {
  max-width: 1200px;
  margin: auto;
  padding: 100px 20px;
}